* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat';
}

.form-container {
    margin: 10% auto;  /* Center by setting auto margins */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 25%;
    text-align: center;
}

.form-content {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-form {
    padding: 10px 20px;
    margin: 10px 20px;
    font-size: 110%;
}

#submit-button {
    padding: 7px 30px;
    font-size: 110%;
}